<h1>Editing users info</h1>

<%= render "form", users_info: @users_info %>

<br>

<div>
  <%= link_to "Show this users info", @users_info %> |
  <%= link_to "Back to users infos", users_infos_path %>
</div>
